# exclude official package
odoo/*
filestore/*
!filestore/README.md
logs/*
!logs/README.md
.idea/
**/.DS_Store

#special modification to core odoo system
!odoo/addons/account/views/report_invoice.xml

!.gitignore